body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
}

.header{
    background-color: blue;
    color: white;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.header p{
    font-size: 22px;
}
.imagen_principal{
    height: 50px;
    width: 50px;
}
.contenido{
    padding: 12px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor_inputs{
    display: grid;
    grid-auto-flow: row;
    gap: 22px;
}
.contenedor_inputs label{
    font-size: 18px;
}
.contenedor_inputs .input , select{
    width: auto;
    height: 32px;
    font-size: 15px;
    padding: 0px 10px;
}
.contenedor_inputs .button,#copy{
    background-color: blue;
    border-style: none;
    height: 32px;
    color: wheat;
    font-size: 15px;
    border-radius: 5px;
}

.campaña{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#monto_label , #monto_input{
    display: none;
}

.contenedor_output{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.contenedor_output textarea{
    padding: 15px;
    width: 100%;
}

.footer{
    background-color: blue;
    padding: 32px;
    text-align: center;
    color: white;
    font-size: 18px;
}
